
    <div style="text-align:center">
        <h1>
          Outreach Feedback Management System
        </h1>
      </div>
      
      
      <nav class="navbar navbar-expand-sm" style="background-color: #212529;">   
           
          <ul class="navbar-nav">   
              <li class="nav-item dropdown">
                 <!-- <a class="nav-link" href="/Home" id="navbardrop" style="color:white;font-weight:bold;font-size:15px" data-toggle="dropdown">
                      Home
                    </a> -->
                    <a class="dropdown-item" href="/home" style="color:white;font-weight:bold;font-size:15px" >Home</a>
                </li> 
            <li class="nav-item dropdown" >
              
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" style="color:white;font-weight:bold;font-size:15px" data-toggle="dropdown">
                Admin
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/events" style="color:black;font-weight:bold;font-size:13px">Event Master</a>
                <a class="dropdown-item" href="#" style="color:black;font-weight:bold;font-size:13px">Users</a>
                <a class="dropdown-item" href="#" style="color:black;font-weight:bold;font-size:13px">Send Feedback</a>
              </div>
            </li>
      
      
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" style="color:white;font-weight:bold;font-size:15px" data-toggle="dropdown">
                  Reports
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#" style="color:black;font-weight:bold;font-size:13px">Events</a>
                  <a class="dropdown-item" href="#" style="color:black;font-weight:bold;font-size:13px">Feedback sent</a>            
                </div>
              </li>
      
          </ul>
        </nav>



<router-outlet></router-outlet>
